[Unit]
Description=ApnaFund Application Server
After=network.target docker.service

[Service]
User=ec2-user
EnvironmentFile=/opt/apnafund/apnafund-env.conf
ExecStart=/usr/bin/java -jar /opt/apnafund/apnafund.jar
Restart=always

[Install]
WantedBy=multi-user.target
